<nav class="ui stackable menu app-menu">
  <header class="ui header item">
    <a href="/">Volcano Watch</a>
  </header>

  <div class="right menu">
    <a id="welcome" class="item" href="/">Welcome</a>
    <a id="dashboard" class="item" href="/dashboard">Dashboard</a>
    <a id="about" class="item" href="/about">About</a>
    <a id="safety" class="item" href="/safety">Safety</a>
  </div>
</nav>

<script>
  const activeItem = document.querySelector('#{{id}}');
  if (activeItem) {
    activeItem.classList.add('active');
  }
</script>
